@font-face {
  font-family: 'NotoSerifDisplay';
  src: local('NotoSerifDisplay'), url(./fonts/NotoSerifDisplay-Black.ttf) format('truetype');
}

header {
  font-family: NotoSerifDisplay;
  font-weight:black;
  color: rgb(92, 73, 70);
  font-size: xx-large;
  background-color: #dc8374;
  height: 100px;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productBorder{
  border: #db604d solid 4px;
  width: 310px;
}


.custom-navbar {
  height: 100px;
  font-size:large;
}

.custom-link {
  text-decoration: none;
  color: rgb(92, 73, 70);
}

.custom-container {
  display: flex wrap;
  justify-content: space-between;
  column-gap: 1rem;
}