@font-face {
  font-family: 'NotoSerifDisplay';
  src: local('NotoSerifDisplay'), url(./fonts/NotoSerifDisplay-Black.ttf) format('truetype');
}

header {
  font-family: NotoSerifDisplay;
  font-weight:black;
  color: rgb(82, 59, 91);
  font-size: xx-large;
  background-color: #e2aef8;
  height: 100px;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productBorder{
  border: #db604d solid 4px;
  width: 310px;
}

img {
  height: 180px;
  width: 310px;
}